{% extends "base.html" %}
{% block content %}
{% block js %}
<script src="/media/js/list_commit.js" type="text/javascript"></script>
{% endblock %}
{% csrf_token %}
<div class="container blank-top">
</div>
<div class="container title_bar" style="margin-bottom:40px;">
    <h2 style="display:inline-block; margin-top:0px;">{{ branch.repository }}</h2>

    <div class="starbutton">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        {% if star %}
        <a class="star" id="star">Unstar</a>
        {% else %}
        <a class="unstar" id="star">Star</a>
        {% endif %}
    </div>
    <div class="starbutton">
        <a class="darktext" href="../../create_branch">Add Branch</a>
    </div>
    {% if user.is_authenticated and request.user.username == branch.repository.userprofile.user.username %}
    <div class="starbutton">
        <a class="darktext" href="../../manage">Manage this Repository</a>
    </div>
    {% else %}
    {% endif %}
</div>

<div class="container status_bar">
	<div class="row">
		<div class="col-xs-3 pills_center">
			<ul class="nav nav-pills">
	  			<li role="presentation">
	  				<a href="./">
	  					<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 
	  					<span>{{ branch.commit.count }}</span>
	  					{% if branch.commit.count > 1 %}
	  					commits
	  					{% else %}
	  					commit
	  					{% endif %}
	  				</a>
	  			</li>
	  		</ul>
		</div>
		<div class="col-xs-3 pills_center">
			<ul class="nav nav-pills">
	  			<li class="language-nonactive" role="presentation">
	  				<a href="./">
	  					<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
	  					<span>{{ branch.repository.branch.count }}</span>
	  					{% if branch.repository.branch.count > 1 %}
	  					branches
	  					{% else %}
	  					branch
	  					{% endif %}
	  				</a>
	  			</li>
	  		</ul>
		</div>
		<div class="col-xs-3 pills_center">
			<ul class="nav nav-pills">
	  			<li class="language-nonactive" role="presentation">
	  				<a href="./">
	  					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	  					<span>{{ branch.repository.contributor.count }}</span>
	  					{% if branch.repository.contributor.count > 1 %}
	  					contributors
	  					{% else %}
	  					contributor
	  					{% endif %}
	  				</a>
	  			</li>
	  		</ul>
		</div>
		<div class="col-xs-3 pills_center">
			<ul>
				<div class="dropdown">
				  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{ branch.name }}
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  	{% for br in branch.repository.branch.all %}
				  		<li><a href="../../{{ br.name }}"> {{ br.name }} </a><li>
				  	{% endfor %}
				  </ul>
				</div>
			</ul>
		</div>
	</div>
</div>
<div class="container" style="height:40px;">
</div>
<div class="container">
	<h5>commits on repository "{{ branch.repository.name }}" </h5>
	<ul class="list-group">
	{% for commit in branch.commit.reverse %}
		<li class="list-group-item" >
		  	<div class="media">
			  	<div class="media-left">
			    	<a href="#">
			      		<img class="media-object" src="{{ commit.userprofile.thumbnail_url }}" style="width:45px; height:45px;">
			    	</a>
			  	</div>
			  	<div class="media-body" style="margin-bottom:0px;">
			    	<h4 class="media-heading" style="font-weight:bold; margin-bottom:0px; margin-top:3px;">
                        <a href="../{{ commit.id }}" style="color:#000;">{{ commit.message }}</a>
                    </h4>
			    	<h6 class="commit_username" style="font-weight:700; color:#888; display:inline-block;">{{ commit.userprofile.user.username }}</h6>
			    	<h6 class="commit_time" style="display:inline-block;"><time class="timeago" datetime="{{ commit.created_time | date:'c' }}"></time></h6>

			  	</div>
			</div>
		 </li>
	{% endfor %}
	</ul>
</div>

{% endblock %}
{% block css %}
<link href="/media/css/branch_base.css" rel="stylesheet">
{% endblock %}
