{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% else %}
        <header id="top" class="header0">
            <div class="text-vertical-center">
                    <h1> NOTETREE </h1>
                    <h3> Write your music, anywhere, anytime.</h3>
                    <a href="/session/login/" class="btn btn-dark btn-lg">Start NoteTree</a>
            </div>
        </header>
{% endif %}
{% block css %}
<link href="media/css/stylish-portfolio.css" rel="stylesheet">
{% endblock %}
{% endblock %}
