<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Note Tree{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/media/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
        <link rel="stylesheet" href="/media/css/styles.css">
        {% block css %}{% endblock %}
        <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="/media/js/jquery.timeago.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/media/js/abcjs.js" type="text/javascript"></script>
        <script src="/media/js/base.js" type="text/javascript"></script>
        <script src="/media/js/player.js" type="text/javascript"></script>
        <script src="/media/js/loader.js" type="text/javascript"></script>
        <script src="/media/js/audioDetect.js" type="text/javascript"></script>
        <script src="/media/js/plugin.webmidi.js" type="text/javascript"></script>
        <script src="/media/js/plugin.webaudio.js" type="text/javascript"></script>
        <script src="/media/js/dom_request_script.js" type="text/javascript"></script>
        <script src="/media/js/dom_request_xhr.js" type="text/javascript"></script>
        <script src="/media/js/synesthesia.js" type="text/javascript"></script>
        <script src="/media/js/gm.js" type="text/javascript"></script>
        <script src="/media/js/Base64.js" type="text/javascript"></script>
        <script src="/media/js/Base64binary.js" type="text/javascript"></script>
        <script src="/media/js/WebAudioAPI.js" type="text/javascript"></script>
        <script src="/media/js/WebMIDIAPI.js" type="text/javascript"></script>
        <script src="/media/js/stream.js" type="text/javascript"></script>
        <script src="/media/js/midifile.js" type="text/javascript"></script>
        <script src="/media/js/replayer.js" type="text/javascript"></script>
        <script src="http://galacticmilk.com/midi-js/inc/event.js"></script>
        {% block js %}{% endblock %}
    </head>
    {% if dark_theme %}
    <body class="dark-theme">
    {% else %}
    <body class="white-theme">
    {% endif %}
        <div class="row dark-theme">
            <div class="col-xs-2 dark-theme">
            </div>
            <div class="col-xs-3">
                <div id='cssmenu'>
                    <ul>
                        <li><a href='/' class="NTnavBar"><span>NoteTree</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-5 dark-theme">
                <span style="float:right; display:inline-block;">
                    <input id="s" type="search" placeholder="Search" style="display:inline-block;">
                    <div id='cssmenu' style="display:inline-block;">
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href='/{{ user.username }}' class="NTnavBar"><span>Profile</span></a></li>
                            <li><a href='/session/logout' class="NTnavBar"><span>Logout</span></a></li>
                            {% else %}
                            <li><a href='/session/login' class="NTnavBar"><span>Login</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </span>
            </div>
            <div class="col-xs-2 dark-theme">
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; KAO 2016</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
