<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Note Tree{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/media/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT Sans + PT Serif">
        <link rel="stylesheet" href="/media/css/styles.css">
        {% block css %}{% endblock %}
        <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="script.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    {% if dark_theme %}
    <body class='dark-theme'>
        <div id='cssmenu' class='dark-theme'>
    {% else %}
    <body>
        <div id='cssmenu'>
    {% endif %}
        <ul>
            <li><a href='/'><span>NoteTree</span></a></li>
            <li><a href='/repository/'><span>Repository</span></a></li>
            <li><a href='/session/'><span>Session</span></a></li>
            <li class='last'><a href='#'><span>Contact</span></a></li>
        </ul>
        </div>
        {% block content %}
        {% endblock %}
        <div id='footer' class="text-center">
            <p>
                <a href="/main/credit/">Credit</a>
                <a href="#">Contact Us</a>
            </p>
            <p>
                <span>Copyright 2016 KAO. All rights reserved.</span>
            </p>
        </div>
    </body>
</html>
